pkgname = ori
pkgver = 0.5
pkgrel = 1
pkgdesc = ORI Terminal Assistant - terminal AI assistant
url = https://github.com/piratheon/ORI
arch = x86_64
license = MIT
depends = libcurl
depends = jsoncpp
makedepends = cmake
makedepends = gcc
makedepends = make
makedepends = pkg-config
source = https://github.com/piratheon/ORI/archive/refs/tags/v0.5.tar.gz
sha256sums = SKIP
